//================================================================//
//===// Incorporating required default layout scss variables //===//
//================================================================//

@use '../abstracts' as *;

//============================//
//===// Layout - default //===//
//============================//

//===// Root //===//

:root {
  --shadow-big: 3px 3px 5px hsl(0 0% 0% / 0.15);
  --shadow-small: 3px 3px 5px hsl(0 0% 0% / 0.1);
}

//===// Body //===//

body {
  background-color: color(accent-clr);
  color: color(secondary-clr);
  font-family: font(main);
  line-height: 1.5;
}

//===// Container //===//

.container {
  width: 80%;
  max-width: 600px;
  margin-inline: auto;
}

//===// Main //===//

.main {
  background-color: color(primary-clr);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-big);
  margin-block: 2rem;
  padding: 2rem;
}

//===// Form //===//

.form {
  ::placeholder {
    color: color(placeholder-clr);
  }

  ::-webkit-inner-spin-button {
    appearance: none;
  }

  &__submit {
    display: block;
    width: 50%;
    font-size: 1.25rem;
    margin-block-start: 2.5rem;
    margin-inline: auto;
  }

  label {
    display: block;
    margin-block: 1.75rem 0.35rem;

    &:first-child {
      margin-block-start: 1.5rem;
    }
  }

  //===// Form > Focus on inputs

  input,
  select,
  button {
    &:focus {
      outline: 2px solid color(secondary-clr);
      outline-offset: 5px;
    }
  }

  //===// Form > Inputs

  input:not([type='range']) {
    width: 100%;
    background-color: color(accent-clr);
    border: none;
    border-radius: 0.25em;
    box-shadow: var(--shadow-small);
    color: color(secondary-clr);
    font-size: 1rem;
    padding: 0.65em 0.5em;
  }

  //===// Form > Time Input

  input[type='time']:invalid {
    color: color(placeholder-clr);
  }

  //===// Form > Type Input

  label + div {
    position: relative;

    select:has(option:checked:first-child) {
      color: color(placeholder-clr);
    }

    select {
      width: 100%;
      cursor: pointer;
      appearance: none;
      background-color: color(accent-clr);
      border: none;
      border-radius: 0.25em;
      box-shadow: var(--shadow-small);
      color: color(secondary-clr);
      font-size: 1rem;
      padding: 0.65em 3rem 0.65em 0.5em;
    }

    span {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 1.6rem;
      pointer-events: none;

      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 0.65rem;
        width: 0.65rem;
        translate: 15% 140%;
      }

      &::before {
        border-bottom: 2px solid color(secondary-clr);
        rotate: 45deg;
      }

      &::after {
        border-top: 2px solid color(secondary-clr);
        rotate: 135deg;
      }
    }
  }

  //===// Form > Range Input

  input[type='range'] {
    --color: hsla(0 0% 0% / 0.15);

    width: 100%;
    appearance: none;
    background: color(primary-clr);
    margin-block: 0.75rem 1rem;

    @mixin thumb {
      height: 1.25rem;
      width: 1rem;
      cursor: pointer;
      background: color(light-clr);
      border-radius: 0.25em;
      box-shadow: 1px 1px 1px var(--color), 0px 0px 1px var(--color);
      border: 1px solid var(--color);
    }

    &::-webkit-slider-thumb {
      @include thumb;
      appearance: none;
      margin-block-start: -0.45rem;
    }

    &::-moz-range-thumb {
      @include thumb;
    }

    @mixin track {
      width: 100%;
      height: 0.5rem;
      cursor: pointer;
      background-color: color(accent-clr);
      border: 0.2px solid var(--color);
      border-radius: 0.25em;
      box-shadow: 1px 1px 1px var(--color), 0px 0px 1px var(--color);
      transition: background-color 250ms ease-in-out;
    }

    &::-webkit-slider-runnable-track {
      @include track;
    }

    &:focus::-webkit-slider-runnable-track {
      background-color: color(accent-clr--hover);
    }

    &::-moz-range-track {
      @include track;
    }

    &:focus::-moz-range-track {
      background-color: color(accent-clr--hover);
    }
  }
}

//===// Message //===//

.message {
  opacity: 0;
  background-color: transparent;
  box-shadow: var(--shadow-big);
  border-radius: 0.5rem;
  color: transparent;
  text-align: center;
  font-size: 1.15rem;
  margin-block-end: 2rem;
  padding: 0.5em 1em;
  transition: 300ms ease-in-out;

  &--success {
    opacity: 1;
    background-color: color(primary-clr);
    color: color(success-clr);
  }

  &--error {
    opacity: 1;
    background-color: color(primary-clr);
    color: color(error-clr);
  }
}
